<section class="details-section ">
  <div class="details">
    <img ngSrc="team.png" width="500" height="475" alt="Foto do time de desenvolvimento">
    <h3>Equipe capacitada</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facere repellat vero possimus consequatur, magnam veniam, similique sunt modi tempore laborum eum rem cum omnis molestias quibusdam perspiciatis harum ad.</p>
  </div>
  <div class="details">
    <img ngSrc="project-guide.png" width="500" height="475" alt="Imagem do desevolvedor junto ao seu projetos">
    <h3>Seus projetos guiados do zero</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facere repellat vero possimus consequatur, magnam veniam, similique sunt modi tempore laborum eum rem cum omnis molestias quibusdam perspiciatis harum ad.</p>
  </div>
</section>
<section class="act-section">
  <h1>Quer elevar seu software e seus negócios para outro nível?</h1>
  <app-btn-primary
    action="id-form"
    btn-text="fale com nossos especialistas">
  </app-btn-primary>
</section>
